{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    Welcome !
    <div>
        <a href="{{ path('_parse') }}">Récupération de VDM</a>
    </div>
    <div>
        <a href="{{ path('_vdm') }}">Liste des VDM</a>
    </div>
{% endblock %}
